:root {
    --main-bg-color: rgb(59, 99, 59);
    --heading-txt-color: goldenrod;
    --body-txt-color: white;
}

html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
}

body {
    background-color: var(--main-bg-color);
}

h2 {
    font-family: Montserrat;
    color: var(--heading-txt-color);
    margin-left: 10px;
}

p {
    font-family: Montserrat;
    color: var(--body-txt-color);
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: var(--body-txt-color);
}

a:visited {
    text-decoration: none;
}

footer {
    font-family: Montserrat;
    background-color: black;
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: var(--body-txt-color);
}

.title {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Montserrat-Medium;
    color: var(--heading-txt-color);
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 50px;
}

.stripe {
    background-color: black;
    display: block;
    margin: 0 auto;
    padding: 10px;
    transition: all 0.3s ease;
}

.stripe:hover {
    transform: scaleY(1.2);
}

.text-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}