h1 {
    text-align: center;
    color: white;
    font-family: "Monaco", "Lucidia Console", monospace;
    font-weight: bold;
    top: 50%;
}

p1 {
    text-align: center;
    color: gray;
    font-family: "Monaco", "Lucidia Console", monospace;
    font-weight: normal;
}

body1 {
    background-color: indigo;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }

  .light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }